body{
    background-image:url("images/background.jpg");
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    background-size: 50%;
    background-position:cover;
} 
.header{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 8%;
    background:rgb(22, 21, 21);
}
.li{

    list-style-type: none;
    display: inline;
    margin-left: 4%;
}

a {
    text-decoration: none;
    color: white;
}

.leftnavigation{
    position: fixed;
    top: opx;
    left: 7%;
}

.rightnavigation{
 
    margin-left: 40%;
}

.li{

    list-style-type: none;
    display: inline;
    margin-left: 4%;
}

.element{
    font-size: 20px;
    color:yellow;
    padding: 5px;
    font-family: cursive;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.5);
}

.element:hover{
    color: hsl(187, 52%, 72%);
    background-color: rgb(248, 103, 6);
    border-radius: 5px; 
    transition-duration: 0.2s;
}

.uppermain{
    margin-top: 5%;
    width: 95%;
    height: auto;
    padding: 1%;
}

h4{
    font-size: 25px;
    color: white;
}

h1{
    font-family: cursive;
    font-size: 35px;
    color: green;
    text-align: center;
    text-shadow: 5px 5px 3px rgba(0,0,0,0.5);
}

h1:hover{
    color: rgb(227, 84, 204);
}

.about{
    font-size: 20px;
    color: rgb(171, 225, 109);
    text-shadow: 4px 4px 3px rgba(0,0,0,0.5);
}

.btn{
    font-size: 15px;
    margin: 30px;
    padding: 10px 25px;
    background-color: rgb(25, 107, 5);
    border: none;
    color: rgb(114, 16, 226);
    border-radius: 5px;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6);
}

.btn:hover{
    color: hsl(187, 52%, 72%);
    background-color: rgb(248, 103, 6);
    transition-duration: 0.2s;
   
}

.profile{
    display: inline-block;
    width: 33%; 
}

.myimage{
    width: 60%;
    height: 10%;
    border-radius: 50%;
    box-shadow: 10px 10px 5px rgba(0,0, 0, 0.5);
}

.aboutmyself{
    box-shadow: 10px 10px 5px rgba(0,0, 0, 0.5);
    display: inline-block;
    width: 33%;
    border: solid white;
    border-radius: 10px;
}

.textmyself{
    font-family:cursive;
    color:rgb(117, 211, 255);
    font-size: 20px;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.5);
}

.htms{
    font-family:cursive;
    color:yellow;
    font-size: 17px;
}

.slietian{
    background-color: aliceblue;
    width: 60%;
    padding: 5px;
    margin-top: 5%;
    box-shadow: 10px 10px 5px rgba(0,0, 0, 0.5);
    border-radius: 12px;
}

.slietian:hover{
    background-color: orange;
    transition-duration: 1s; 
}

.slietianimg{
    width: 100%;
    height: auto;
}

.textsliet{
    color: red;
    font-family: cursive;
    text-align: center;
    font-size: 20px;
}

.mainlast{
    width: 90%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.b{
    color: yellow;
}

.footer{
    padding: 10px 27px 10px 27px;
    margin: 0px;
    background:rgb(22, 21, 21);
    width: 100%;
    height: auto;
    right: 0px;
    position:relative;
}

.upperfooter{
  
    width: 50%;
}

.footertext{
    font-family:cursive;
    color: rgb(11, 247, 23);
    font-size: 17px;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.5);
}

.lowerfooter{
    padding-top: 12px;
    border-top: solid white;
    width: 45%;
    display: inline-block;
}

.twiter{
    width: 4%;
    height: auto;
    border:solid white;
    border-radius: 60%;
    margin: 1%;
    box-shadow: 4px 4px 3px rgba(0,0, 0, 0.5);
}

.twiter:hover{
    border-color: orangered;
}

.insta{
    width: 4%;
    height: auto;
    border:solid white;
    border-radius: 60%;
    margin: 1%;
}

.insta:hover{
    border-color: orangered; 
}

.facebook{
    width: 4%;
    height: auto;
    border:solid white;
    border-radius: 60%;
    margin: 1%;
}

.facebook:hover{
    border-color: orangered;
}

.lft{
    font-family:cursive;
    color: rgb(11, 247, 23);
    text-shadow: 3px 3px 2px rgba(0,0,0,0.5);
}

.aboutmyself:hover{
    border-color: orangered;
    transition-duration: 0.8s;
}

@keyframes my{
    0%{
        border-color: rgb(252, 252, 8);
    }
    50%{
        border-color: rgb(251, 5, 5);
    }
    100%{
        border-color: green;
    }
}

.aboutmyself{
    animation: my 1s infinite alternate;
}

@keyframes mybtn{
    0%{ 
        color: green; 
    }
    50%{ 
        color: rgb(8, 77, 252);
    }
    100%{
        color: rgb(251, 5, 5);
    }
}

h1{
    animation: mybtn 1s infinite alternate;
}
 


 
@media only screen and (max-width:450px) {
    .element{
        font-size: 10px;
        padding: 3px;
    }
    .leftnavigation{
        left: 2px;
    }
    .rightnavigation{
        margin-left: 20%;
    }
    .li{
        margin-left: 3%;
    }
    h4{
        font-size: 12px;
        color: white;
    }
    .header{
        height: 7%;
    }
    h1{
     font-size: 17px;
    }
    .uppermain{
        margin-top: 12%;
        width: 99%;
    } 
   .about{
      font-size: 10px;
      text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    }
    .btn{
        font-size: 10px;
        margin: 15px;
        box-shadow: 4px 4px 3px rgba(0,0,0,0.6);
    }
    .myimage{
        width: 100%;
        height: 10%;
        border-radius: 50%;
        box-shadow: 10px 10px 5px rgba(0,0, 0, 0.5);
    }
    .aboutmyself{
        box-shadow: 6px 6px 3px rgba(0,0, 0, 0.5);
        width: 70%;
        border-radius: 6px;
    }
    .textmyself{
        font-size: 10px;
    }
    .mainlast{
        width: 98%;
    }
    .htms{
        font-size: 8px;
    }
    .textsliet{
        font-size: 10px;
    }
    .slietian{
        width: 60%;
        padding: 2px;
        margin-top: 5%;
        box-shadow: 7px 7px 3px rgba(0,0, 0, 0.5);
        border-radius: 7px;
    }
    .footer{
        padding: 7px 0px 7px 0px;
    }
    .footertext{
        font-size: 10px;
    } 
    .upperfooter{
        width: 75%;
    }
    .lowerfooter{
      padding-top: 6px;
      width: 70%;
    }
    .b{
        font-size: 10px;
    }
    .lft{
       font-size: 10px;
    }

}


@media only screen and (min-width:450px) and (max-width:900px) {
    .element{
        font-size: 16px;
        padding: 4px;
    }
    .leftnavigation{
        left: 2px;
    }
    .rightnavigation{
        margin-left: 25%;
    }
    .li{
        margin-left: 3%;
    }
    h4{
        font-size: 18px;
        color: white;
    }
    .header{
        height: 7%;
    }
    h1{
     font-size: 25px;
    }
    .uppermain{
      margin-top: 12%;  
      width: 99%;
    }
   .about{
      font-size: 15px;
      text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    }
    .btn{
        font-size: 15px;
        margin:20px;
        box-shadow: 4px 4px 3px rgba(0,0,0,0.6);
    }
    .myimage{
        width: 100%;
        height: 10%;
        border-radius: 50%;
        box-shadow: 10px 10px 5px rgba(0,0, 0, 0.5);
    }
    .aboutmyself{
        box-shadow: 6px 6px 3px rgba(0,0, 0, 0.5);
        width: 70%;
        border-radius: 6px;
    }
    .textmyself{
        font-size: 15px;
    }
    .mainlast{
        width: 98%;
    }
    .htms{
        font-size: 12px;
    }
    .textsliet{
        font-size: 15px;
    }
    .slietian{
        width: 60%;
        padding: 4px;
        margin-top: 5%;
        box-shadow: 8px 8px 7px rgba(0,0, 0, 0.5);
        border-radius: 7px;
    }
    .footer{
        padding: 7px 0px 7px 0px;
    }
    .footertext{
        font-size: 14px;
    } 
    .upperfooter{
        width: 67%;
    }
    .lowerfooter{
      padding-top: 8px;
      width: 65%;
    }
    .b{
        font-size: 15px;
    }
    .lft{
       font-size: 15px;
    }
}





































