body{
    background-image: url("images/background.jpg");
  }
    
  .header{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 8%;
    background:rgb(22, 21, 21);
    overflow: hidden;
  }
  .logo{
    position: fixed;
    top: opx;
    left: 10%;
  }
    
  .li{
    
    list-style-type: none;
    display: inline;
    margin-left: 4%;
  }
    
  .navigation{
     
    margin-left: 40%;
  }
  .element{
    font-size: 20px;
    color:yellow;
    padding: 5px;
    font-family: cursive;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.5);
  }
  .element:hover{
    color: hsl(187, 52%, 72%);
    background-color: rgb(248, 103, 6);
    border-radius: 5px; 
    transition-duration: 0.2s;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  .lheader{
    margin-top: 7%;
    
  }
  
  h1{
    font-family: cursive;
    color: white;
  }
  
  img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
  }
  
  .main{
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: inline-block;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 13px;
  }
  .imagediv{
    position: relative;
    width: 6000px;
    animation: my 100s linear infinite  ;
  }
  
  .bio{
    width: 400px;
    height: 400px;
    background-color: red;
    display: inline-block;
  }
  
  .bio1{
    width: 400px;
    height: 400px;
    background-color:red;
    display: inline-block;
  }
  .mainbody{
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .textmyself{
    font-family:cursive;
    color:rgb(117, 211, 255);
    font-size: 19px;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.5);
    text-align: center;
    padding: 3%;
  }
    
  @keyframes my {
    0%{
      left: 0px;
    }
    9%{
      left:0px;
    }
    10%{
      left: -410px;
    }
    19%{
      left: -410px;
    }
    20%{
      left:-810px ;
    }
    29%{
      left: -810px;
    }
    30%{
      left: -1210px;
    }
    39%{
      left: -1210px;
    }
    40%{
      left:-1620px ;
    }
    49%{
      left: -1620px;
    }
    50%{
      left: -2020px;
    }
    59%{
      left: -2020px;
    }
    60%{
      left: -2420px;
    }
    69%{
      left: -2420px;
    }
    70%{
      left: -2830px;
    }
    79%{
      left: -2830px;
    }
    80%{
      left: -3230px;
    }
    89%{
      left: -3230px;
    }
    90%{
      left: -3635px;
    }
    99%{
      left: -3635px;
    }
    100%{
      left: -4020px;
    }
  }
  
  @media only screen and (max-width:450px) {
    .logo{
      left: 2px;
    }
    .li{
      margin-left: 2%;
    }
    .navigation{
     
      margin-left: 25%;
    }
    .element{
      font-size: 10px;
      padding: 3px;
      text-shadow: 3px 3px 2px rgba(0,0,0,0.5);
    }
    .header{
      
      height: 7%;
    }
    .lheader{
      margin-top: 23%;
    }
    h1{
      font-size: 17px;
    }
    img{
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
    .main{
      width: 200px;
      height: 230px;
      border-radius: 7px;
      margin-left: 8%;
      margin-top: 8%;
    }
    .bio{
      width: 200px;
      height: 230px;
    }
    
    .bio1{
      width: 200px;
      height: 230px;
    }
    .textmyself{
      font-size: 10px;
    }
    .mainbody{
      margin-top: 17%;
      
    }
    .imagediv{
      position: relative;
      width: 6000px;
      animation: my 100s linear infinite  ;
    }
    @keyframes my {
      0%{
        left: 0px;
      }
      9%{
        left:0px;
      }
      10%{
        left: -205px;
      }
      19%{
        left: -205px;
      }
      20%{
        left:-405px ;
      }
      29%{
        left: -405px;
      }
      30%{
        left: -610px;
      }
      39%{
        left: -610px;
      }
      40%{
        left:-815px ;
      }
      49%{
        left: -815px;
      }
      50%{
        left: -1020px;
      }
      59%{
        left: -1020px;
      }
      60%{
        left: -1220px;
      }
      69%{
        left: -1220px;
      }
      70%{
        left: -1430px;
      }
      79%{
        left: -1430px;
      }
      80%{
        left: -1630px;
      }
      89%{
        left: -1630px;
      }
      90%{
        left: -1838px;
      }
      99%{
        left: -1838px;
      }
      100%{
        left: -2030px;
      }
    }
   
  }
  
  @media only screen and (min-width:450px) and (max-width:1137px) {
    .logo{
      left: 2px;
    }
    .li{
      margin-left: 2%;
    }
    .navigation{
     
      margin-left: 25%;
    }
    .element{
      font-size: 15px;
      padding: 3px;
      text-shadow: 3px 3px 2px rgba(0,0,0,0.5);
    }
    .header{
      
      height: 7%;
    }
    .lheader{
      margin-top: 12%;
    }
    h1{
      font-size: 17px;
    }
    img{
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
    .main{
      width: 300px;
      height: 330px;
      border-radius: 7px;
     
    
    }
    .bio{
      width: 300px;
      height: 330px;
    }
    
    .bio1{
      width: 300px;
      height: 330px;
    }
    .textmyself{
      font-size: 15px;
    }
    .mainbody{
      margin-top: 12%;
      
    }
    .imagediv{
      position: relative;
      width: 6000px;
      animation: my 100s linear infinite  ;
    }
    @keyframes my {
      0%{
        left: 0px;
      }
      9%{
        left:0px;
      }
      10%{
        left: -307px;
      }
      19%{
        left: -307px;
      }
      20%{
        left:-607px ;
      }
      29%{
        left: -607px;
      }
      30%{
        left: -907px;
      }
      39%{
        left: -907px;
      }
      40%{
        left:-1215px ;
      }
      49%{
        left: -1215px;
      }
      50%{
        left: -1519px;
      }
      59%{
        left: -1519px;
      }
      60%{
        left: -1823px;
      }
      69%{
        left: -1823px;
      }
      70%{
        left: -2126px;
      }
      79%{
        left: -2126px;
      }
      80%{
        left: -2430px;
      }
      89%{
        left: -2430px;
      }
      90%{
        left: -2732px;
      }
      99%{
        left: -2732px;
      }
      100%{
        left: -3015px;
      }
    }
   
  }