video{
    width: 70% ;
    height: auto;
    margin-top: 8%;
}
body{
    background-image: url("images/background.jpg");
}
.header{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 8%;
    background:rgb(22, 21, 21);
    overflow: hidden;
  }
.logo{
    position: fixed;
    top: opx;
    left: 10%;
}
    
.li{
    
    list-style-type: none;
    display: inline;
    margin-left: 4%;
}
    
.navigation{
     
    margin-left: 40%;
}
.element{
    font-size: 20px;
    color:yellow;
    padding: 5px;
    font-family: cursive;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.5);
}
.element:hover{
    color: hsl(187, 52%, 72%);
    background-color: rgb(248, 103, 6);
    border-radius: 5px; 
    transition-duration: 0.2s;
}

a {
    text-decoration: none;
    color: white;
}
@media only screen and (max-width:956px) {
    video{
        margin-top: 10%;
    }
}
@media only screen and (min-width:650px) and (max-width:956px) {
    video{
        margin-top: 12%;
    }
    .header{
        height: 7%;
      }
    .logo{
        left: 1%;
    }
        
    .li{
        margin-left: 3%;
    }
        
    .navigation{  
        margin-left: 30%;
    }
    .element{
        font-size: 15px;
        padding: 4px;
      
    }
}
@media only screen and (max-width:650px) {
    video{
        margin-top: 15%;
    }
    .header{
        height: 7%;
      }
    .logo{
        left: 2px;
    }
        
    .li{
        margin-left: 3%;
    }
        
    .navigation{  
        margin-left: 25%;
    }
    .element{
        font-size: 10px;
        padding: 4px;
      
    }
}
@media only screen and (min-width:350px) and (max-width:650px){
    video{
        margin-top: 45%;
    }
}
@media only  screen and (max-width:350px) {
    video{
        margin-top: 60%;
    }
}